[General]
Controller_StopRequestInterval=50
Controller_EmssController_Interval=10
Robot_SharpIRSensorCutoffValue=800
Controller_EmssController_Speed=400
Map_HeatMap_CollisionAreaColor=red
Map_HeatMap_HeatOpacity=0.2
Map_HeatMap_HeatSize=400
Map_HeatMap_OpenAreaColor=green
Robot_BumperCollisionOffset_mm=130
Navigation_SplineNavigation_FixedInterval=100
Navigation_SplineNavigation_WheelSplineKernel=SplineKernelNRNatural
Navigation_SplineNavigation_NavPointsSplineKernel=SplineKernelNRNatural
Navigation_SplineNavigation_TargetSpeed_mmps=100.0
Navigation_SplineNavigation_DynamicIntervalEnabled=true
Navigation_SplineNavigation_DynamicIntervalFlexibility_ms=10
Navigation_SplineNavigation_SplineNodeAdjust=true
Navigation_SplineNavigation_MagnetTrackingEnabled=true
Navigation_SystemOfWeightsNavigation_StopAtLastNavPoint=false
Map_HeatMap_WallCollisionOpacity=0.1
Map_HeatMap_IRCollisionOpacity=0.1
Map_HeatMap_CliffCollisionOpacity=0.1
Map_HeatMap_BumperCollisionOpacity=0.1
Map_HeatMap_OpenAreaOpacity=0.05
Map_HeatMap_WallCollisionSize_mm=200
Map_HeatMap_IRCollisionSize_mm=200
Map_HeatMap_CliffCollisionSize_mm=400
Map_HeatMap_BumperCollisionSize_mm=400
Map_HeatMap_OpenAreaSize_mm=400
Task_DiscoveryTask_ExplorationMapGridSize=100
Task_DiscoveryTask_Interval=100
Task_DiscoveryTask_RelativeExplorationHeight_mm=4000
Task_DiscoveryTask_RelativeExplorationWidth_mm=4000
Task_DiscoveryTask_TerrainCutLevel=15
Task_DiscoveryTask_TerrainMapMaxHeight=100
Task_DiscoveryTask_TerrainMapUnknownHeight=101
Task_DiscoveryTask_TerrainCutPointDistance_mm=500
TaskManager_Interval=100
Task_TestMoveTask_Interval=100
Task_TestMoveTask_Circle_Radius_mm=1000
Task_TestMoveTask_Travel_Distance_mm=1000
Task_TestMoveTask_WaitForEventIntervalDelay=10
Navigation_SplineNavigation_ResetNavPointsWhenDone=true
Task_NavigationTask_ResetNavPointsWhenDone=true
Task_NavigationTask_Interval=100
Navigation_AutomaticallyAddStartingNavPoints=false
Robot_WheelOffset_mm=131.25
Map_PhysicalMap_Filename=
Map_PhysicalMap_Scale=1
Map_PhysicalMap_Color_Wall=255 255 255
Map_PhysicalMap_Color_Stairs=174 174 174
Map_PhysicalMap_Color_Tolerance=20
Robot_Diameter_mm=335
Robot_FrontCliffSensorPositionAngle=13
Robot_SideCliffSensorPositionAngle=62
Robot_WallSensorRange_mm=210
Robot_StartingPositionX_mm=0.5
Robot_StartingPositionY_mm=0.5
Map_Scale=10
Map_GridMap_GridSize_mm=1000
Map_Height_mm=20000
Map_Width_mm=20000
Map_TerrainMap_RaiseLowerIncrement=0.1
Map_TerrainMap_RaiseLowerSize_mm=400
Controller_EmssController_EmergencyStopEnabled=true
Controller_EmssController_SharpIRSensorEmergencyStopBuffer_mm=100
Task_FingerprintNavigationTask_Interval=100
Task_FingerprintNavigationTask_Fingerprint_Waittime=2000
Task_FingerprintNavigationTask_Fingerprint_Interval=6000
Camera_CaptureToolPath=gst-launch-0.10
Camera_CaptureToolCommand="v4l2src ! ffmpegcolorspace ! pngenc ! filesink location\\=$Camera_CaptureToolOutFile"
Camera_CaptureToolOutFile=camera.png
Camera_AutoRefreshInterval=1000
Navigation_MaxOpenAreaDistanceMaxRange_mm=2000
RemoteInterface_Enabled=true
RemoteInterface_IP=127.0.0.1
RemoteInterface_Port=9000
RemoteInterface_ListenerInterval=100
RemoteInterface_SenderInterval=100
TextToSpeech_SpeakToolPath=espeak
TextToSpeech_SpeakToolCommand=-v english_rp -a 60 -p 50 -s 150 $SpeechText
Task_JoystickNavigationTask_Interval=100
Watchdog_Enabled=false
Watchdog_Interval=100
Watchdog_ActionInterval=2000
Watchdog_StopRequestInterval=50
Watchdog_AddDefaultBeepAction=true
Watchdog_AddDefaultNetworkMonitorAction=false
Watchdog_BeepWatchdogAction_BeepFile=beep.wav
Controller_Watchdog_Enabled=false
Controller_Watchdog_Flexibility=2.5
TaskManager_Watchdog_Enabled=false
TaskManager_Watchdog_Flexibility=2.5
Watchdog_NetworkMonitorWatchdogAction_WANIPs=152.96.
Task_DefaultInterval=100
Map_StructureMap_MinimumDistanceBetweenCollision=1000.0
Map_StructureMap_FinishTolerance_mm=500.0
Tracker_DefaultMovementTrackers=ExpectedMovementTracker FrenetMovementTracker RawMovementTracker
Tracker_SingleTracker_SelectedMovementTracker=FrenetMovementTracker
Map_PhysicalMap_Description=ThisIsAMapDescription
Map_PhysicalMap_Floor=1
Map_PhysicalMap_GPSOffset=47.223611 15.146667
Weight_AccelerationFilterWeight_MaxSpeedChange=0.25
Weight_CollisionAvoidanceWeight_ReverseDistance_mm=200
Weight_CollisionAvoidanceWeight_DecisionBuffer_mm=170
Weight_CollisionAvoidanceWeight_AvoidanceFactor=1.0
Weight_WallFollowerWeight_Sensitivity=0.5
Weight_WallFollowerWeight_Sensitivity_Max=0.8
Weight_WallFollowerWeight_Sensitivity_Min=0.2
Weight_WallFollowerWeight_StepSize=0.05
Weight_WallFollowerWeight_NoWallTimer_Sec=10
Weight_WallFollowerWeight_SearchWallTimer_Sec=30
Tracker_MovementLog_MinimumDistance_mm=100
COIL_EmulatedCOIL_UseSpecificMovementTrackerForSensorEmulation=false
Tracker_SelfCorrectingTracker_CorrelationLog_MinimumDistance_mm=50
COIL_EmulatedCOIL_SpecificMovementTrackerForSensorEmulation=RawMovementTracker
Map_GridMap_Color=150 150 150
Task_FingerprintNavigationTask_GPSPrecision=14
Robot_DockingStation_Base_Size_mm=200
Robot_DockingStation_ForceField_Radius_mm=1100
Robot_DockingStation_RedGreenBeam_Width_mm=500
Robot_DockingStation_RedGreenBeam_Length_mm=4500
Robot_DockingStation_RedGreenBeam_Offset_mm=60
Robot_DockingStation_RedGreenBeam_Angle=4
Robot_DockingStation_OffsetX_mm=0
Robot_DockingStation_OffsetY_mm=160
Robot_DockingStation_OffsetRotation_deg=0
Robot_DockingStation_MinimumDockingPrecision_mm=30
Robot_DockingStation_SnapToWall_Enabled=true
Robot_StartingRotation_deg=0
Tracker_CorrectedFrenetMovementTracker_vl=0.0
Tracker_CorrectedFrenetMovementTracker_vr=0.01
Tracker_CorrectedFrenetMovementTracker_dv=2
Task_DockAndChargeTask_Interval=10
Robot_DockingStation_Enabled=true
Robot_DockingStation_RedBeamEnabled=true
Robot_DockingStation_GreenBeamEnabled=true
Robot_DockingStation_ForceFieldEnabled=true
Robot_DockingStation_InterferenceEnabled=false
Robot_DockingStation_StartingPositionX_mm=13310
Robot_DockingStation_StartingPositionY_mm=16370
Robot_DockingStation_StartingRotation_deg=10
Weight_DockWeight_StartingMode=unknown
Weight_DockWeight_MinimumAttackSpeed=320
Weight_DockWeight_DockIRHistory=200
Weight_DockWeight_AttackAdjust_fx=1.5
Weight_DockWeight_HomingAdjust_fx=1.2
Weight_DockWeight_SearchAdjust_fx=0.9
Weight_DockWeight_HomingAdjust_Time_ms=150
Weight_DockWeight_AttackAdjust_Time_ms=80
Weight_DockWeight_JitterAmount=0.0
Weight_DockWeight_SearchTimeout_ms=5000
Weight_DockWeight_DockExpectancyFactor=1.2
Weight_DockWeight_SearchTurnInterval_ms=5000
Weight_DockWeight_SearchTurnAngle_deg=60
Weight_DockWeight_RetryBackupDistance_mm=300
Weight_DockWeight_TurnaroundAngle_deg=180
Weight_DockWeight_RetryMoveawayFactor=0.6
Controller_EmssController_DebugInfoEnabled=false
Controller_EmssController_DebugInfoInterval_ms=1000
Task_ScriptedTask_TaskList=UndockTask WallFollowerTask DockAndChargeTask
Task_PauseTask_Timeout_ms=5000
Task_UndockTask_Speed=250
Task_UndockTask_Distance_mm=500
Map_StructureMap_AutomaticallyAddStructurePoints_Enabled=true
Navigation_InitialNavPointsListX_mm=
Navigation_InitialNavPointsListY_mm=
Task_FingerprintNavigationTask_PreTasks=PauseTask UndockTask
TaskManager_IdleTask=JoystickNavigationTask